{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">CS50's Proyect</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Sign in</a>
          <a class="nav-link" href="#">W/O Log</a>
          <a class="nav-link" href="#">About this Web App</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">

      <img src="static/Spotify.png" width="400.5" height="120" style = "margin-bottom: 50px">

      <h1 class="cover-heading" style="color:#1DB954">Spotify Analitics</h1>
      <p class="lead" style = "margin-top: 50px"> Spotify Analitics is an Open Source Web App based on Flask and Boostrap that uses Spotify's API to display information about the music you listen to. Sign in with your Spotify acount to see your personal stadistics, or just continue W/O log to see general information. To know more visit the <a href="https://cs50.harvard.edu/x/2022/">About</a> section.</p>
      <p class="lead" style = "margin-top: 75px">
        <a href="#" class="btn btn-lg btn-secondary">Let's try it!</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Proyect for <a href="https://cs50.harvard.edu/x/2022/">CS50x</a>, by <a href="https://www.linkedin.com/in/emiliano-abel-giannoni-446b41100">Emiliano Giannoni</a>, 2022.-</p>
      </div>
    </footer>
  </div>



{% endblock %}