{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <main role="main" class="inner cover">

      <img src="static/Spotify.png" width="400.5" height="120" style = "margin-bottom: 50px">

      <h1 class="cover-heading" style="color:#1DB954">Spotify Analitics</h1>
      <p class="lead" style = "margin-top: 50px"> Spotify Analitics is an Open Source Web App based on Flask and Boostrap that uses Spotify's API to display information about the playlist you listen to. To know more visit the <a href="https://cs50.harvard.edu/x/2022/">About</a> section.</p>
      <p class="lead" style = "margin-top: 75px">
        <a href="/playlist" class="btn btn-lg btn-secondary">Let's try it!</a>
      </p>
    </main>

{% endblock %}